body{
  margin: 0;
  box-sizing: border-box;
  background: #0b2434;
  padding: 150px 20px;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
}
main {
  background: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 10px;
  margin: auto auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
.die-face {
  height: 50px;
  width: 50px;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15) inset;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
}
.die-num {
  font-size: 1.8em;
}
.btn{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #3c2ab4;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.btn:active {
  box-shadow: inset -5px -5px 10px -3px rgba(0, 0, 0, 0.7);
}
.title{
  margin-top: 1rem;
  font-size: 3rem;
  color: #0b2434;
}
.instructions{
  margin-top: -2rem;
  font-style: italic;
  color: #555;
}